@font-face {
  font-family: "Aniyah";
  src: url("/fonts/Aniyah.otf") format("opentype");
}

@font-face {
  font-family: "Anaktoria";
  src: url("/fonts/Anaktoria.ttf") format("truetype");
}

@font-face {
  font-family: "Enchanted";
  src: url("/fonts/Enchanted.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter";
  src: url("/fonts/Typewriter.otf") format("opentype");
}

:root {
  --gold-100: #f5d680;
  --gold-200: #f3cf6b;
  --gold-300: #f1c855;
  --gold-400: #f0c140;
  --gold-500: #eeba2b;
  --gold-600: #d6a727;
  --gold-700: #be9522;
  --gold-800: #a7821e;
  --gold-900: #8f701a;
}

h1 {
  display: flex;
  font-family: "Aniyah";
  font-size: 3.5rem;
  line-height: 6rem;
  margin: 0;

  .and {
    margin-right: -1.5rem;
    margin-left: 0.5rem;
  }
}

h2 {
  margin-top: 0rem;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: var(--gold-300);
}

.subtitle {
  font-size: 1.5rem;
  color: var(--gold-600);
}

hr {
  border: none;
  aspect-ratio: 8;
  width: 100%;
  margin: 0;
  background-image: url("/images/hr.png");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center;
}

body {
  font-family: "Anaktoria";
  color: var(--gold-500);
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-weight: 300;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -2;
  opacity: 0.7;
}

.glitter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
  opacity: 40%;
}

.header {
  display: flex;
  text-align: center;
  gap: 1rem;
  overflow: hidden;

  hr {
    width: 70%;
    opacity: 70%;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  left: 0;
  top: 0;
  gap: 1rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--gold-500);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.frame {
  animation: wiggle 10s infinite;
  max-width: 75%;
}

.anaktoria {
  font-family: "Anaktoria";
}

.typewriter {
  font-family: "Typewriter";
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: 4rem;

  .book {
    width: 85%;
  }

  .wedding-details {
    --text-color: rgba(0, 0, 0, 70%);
    position: absolute;
    top: 1vw;
    left: 16.25vw;
    width: 63vw;
    height: 58vw;
    display: flex;
    color: var(--text-color);
    gap: 1vw;

    .page {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1.5vw;
      font-size: 1.4vw;

      &:first-of-type {
        text-align: center;
        align-items: center;
      }

      a,
      a:visited {
        color: var(--text-color);
        font-size: 1.6vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 70%;
          margin: 3rem 0;
        }
      }

      .typewriter {
        font-size: 1.1vw;
      }

      hr {
        align-self: center;
        width: 70%;
        flex-shrink: 0;
      }

      h3 {
        font-family: "Enchanted";
        font-size: 5vw;
        margin: 0;
      }

      h4 {
        font-family: "Enchanted";
        font-size: 2.2vw;
        margin-top: 1.1vw;
        margin-bottom: 0.2vw;
      }

      .frills {
        background-image: url("images/frills.png");
        padding: 5vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.contact {
  text-align: center;
  font-size: 1.5rem;
}

.mt-auto {
  margin-top: auto;
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 1.5rem;
  margin-top: 1rem;
  color: var(--gold-700);

  img {
    width: 5rem;
  }

  > div {
    color: var(--gold-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:first-of-type {
      margin-left: 1rem;
    }

    > div {
      font-size: 1rem;
    }

    > span {
      font-family: "Typewriter";
    }
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 3rem;
  }

  .header {
    flex-direction: column;
  }

  #countdown {
    flex-wrap: wrap;
    text-align: center;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .body {
    .book {
      display: none;
    }

    .wedding-details {
      --text-color: var(--gold-500);
      position: static;
      flex-direction: column;
      height: unset;
      width: 100%;

      .page {
        padding: 1rem;
        font-size: 2rem;

        h3 {
          font-size: 5rem;
        }

        h4 {
          font-size: 2.2rem;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }

        .typewriter {
          font-size: 1rem;
          color: var(--gold-100);
        }

        a {
          font-size: 1.5rem;

          img {
            background: rgba(255, 239, 194);
            padding: 1rem;
            border-radius: 3rem;
          }
        }

        .frills {
          font-size: 1.5rem;
          padding: 5.5rem;
          width: 150%;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  h1 {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  #countdown {
    font-size: 2rem;

    span {
      flex: 100%;
    }
  }

  hr {
    width: 150% !important;
  }

  .body {
    margin-top: 1rem;

    .wedding-details .page {
      a {
        font-size: 1.5rem;
        padding: 1rem 0;
      }

      h3 {
        font-size: 3.5rem;
      }
    }
  }
}
